# IDE settings folders (JetBrains/VSCode)
.idea
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependency directories
node_modules/

# TypeScript
*.tsbuildinfo

# Cache directories
.cache
.eslintcache
.stylelintcache

# Test coverage
coverage
*.lcov
.nyc_output

# Environment variables
.env
.env.*
!.env.example
.env*.local

# Build outputs
dist
dist-ssr
*.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# pnpm
pnpm-lock.yaml
.pnpm-debug.log*

# Turbo
.turbo

# Expo
.expo
.expo-shared
web-build/
expo-env.d.ts

# React Native / Metro
.metro-health-check*

# Native builds
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Generated native folders
/ios
/android

# App example
app-example
