name: CI - Web

on:
  push:
    branches: [main, develop]
    paths:
      - "apps/web/**"
      - "packages/**"
      - ".github/workflows/ci-web.yml"
  pull_request:
    branches: [main, develop]
    paths:
      - "apps/web/**"
      - "packages/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo run tsc --filter=web
      - run: pnpm turbo run lint --filter=web
      - run: pnpm turbo run build --filter=web

  build:
    needs: test
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - uses: actions/setup-node@v4
        with:
          node-version: "18"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm turbo run build --filter=web
      - name: Upload build artifacts
        uses: actions/upload-artifact@v3
        with:
          name: web-build
          path: apps/web/dist
